.imageDeMoi{
    vertical-align: middle;
    border-style: none;
    height: 180px;
    float: left;
}
.textPresentation{
    magin-left:50px;

}

.presentation{
     vertical-align: middle;
    border-style: none;
    height: 180px;

}