.debut{
    display:flex;
    float: left;
    height:140px;
    margin-right: 10px;
}
.bg-dark{
    background-color: #5F9EA0!important;
}
.jumbotron{
    padding-left:545px;
    padding-top:96px;
    
}